.content {
  display: flex;

}

.card {
  margin: 25px;

}



.hashtag {
  margin: 0 6px;
}

.sidebar {
  min-height: 800px;
}

.reaction {
  width: 100%;
  margin: 15px 0 0 0;
}

.create-post {
  width: 80%;
  margin: 20px;
}

.welcome {
  margin: 100px 0;
}